# This file contains fish universal variable definitions.
# VERSION: 3.0
SETUVAR AWS_REGION:eu\x2dnorth\x2d1
SETUVAR --export BAT_PAGER:less
SETUVAR --export BROWSER:elinks
SETUVAR --export CLI_COLOR:1
SETUVAR --export CPPFLAGS:\x2dI/usr/local/opt/gettext/include
SETUVAR --export EDITOR:micro
SETUVAR --export FZF_CD_COMMAND:fd\x20\x2d\x2dtype\x20d
SETUVAR --export FZF_CD_WITH_HIDDEN_COMMAND:fd\x20\x2d\x2dtype\x20d\x20\x2d\x2dhidden\x20\x2d\x2dfollow\x20\x2d\x2dexclude\x20\x22\x2egit\x22
SETUVAR --export FZF_DEFAULT_OPTS:\x2d\x2dheight\x3d90\x25\x20\x2d\x2dlayout\x3ddefault\x20\x2d\x2dansi\x20\x20\x2d\x2dbind\x3d\x5c\x3f\x3atoggle\x2dpreview\x2cctrl\x2dr\x3atoggle\x2dsort\x2calt\x2dl\x3aabort
SETUVAR --export FZF_FIND_FILE_COMMAND:rg\x20\x2d\x2dfiles\x20\x2d\x2dno\x2dignore\x20\x2d\x2dhidden\x20\x2d\x2dfollow\x20\x2dg\x20\x22\x21\x7b\x2egit\x2cnode_modules\x7d/\x2a\x22\x202\x3e/dev/null
SETUVAR --export FZF_FIND_FILE_OPTS:\x2d\x2dpreview\x3d\x27string\x20match\x20\x2dqe\x20binary\x20\x28file\x20\x2d\x2dmime\x20\x7b\x7d\x29\x20\x26\x26\x20echo\x20\x7b\x7d\x20is\x20a\x20binary\x20file\x202\x3e\x261\x20\x7c\x7c\x20bat\x20\x2d\x2dstyle\x3dnumbers\x20\x2d\x2dcolor\x3dalways\x20\x7b\x7d\x202\x3e\x261\x20\x7c\x7c\x20cat\x20\x7b\x7d\x202\x3e\x261\x20\x7c\x7c\x20tree\x20\x2dC\x20\x7b\x7d\x20\x7c\x20head\x20\x2d200\x27\x20\x2d\x2dselect\x2d1\x20\x2d\x2dexit\x2d0
SETUVAR FZF_LEGACY_KEYBINDINGS:1
SETUVAR FZF_PREVIEW_DIR_CMD:exa
SETUVAR FZF_PREVIEW_FILE_CMD:pistol
SETUVAR --export FZF_REVERSE_ISEARCH_OPTS:\x2d\x2dpreview\x3d\x27echo\x20\x7b\x7d\x27\x20\x2d\x2dpreview\x2dwindow\x20down\x3a3\x3ahidden\x3awrap\x20\x2d\x2dbind\x20\x27\x3f\x3atoggle\x2dpreview\x27
SETUVAR FZF_TMUX:1
SETUVAR FZF_TMUX_HEIGHT:40\x25
SETUVAR GC_COBRA:pet\x1ecorgi\x1edive\x1ecobra\x1eglooctl
SETUVAR GENC:\x1d
SETUVAR GENCOMP_COBRA_TARGETS:pet\x1ecorgi\x1edive\x1ecobra\x1eglooctl
SETUVAR --export GITHUB_USER:dmazhukov
SETUVAR --export GIT_PAGER:less
SETUVAR --export GO111MODULE:on
SETUVAR --export GOBIN:{{ .chezmoi.homedir }}/go/bin
SETUVAR --export --path GOPATH:{{ .chezmoi.homedir }}/go
SETUVAR --export HIGHLIGHT_OPTIONS:\x2dOtruecolor\x1e\x2d\x2dforce\x3dslim\x1e\x2ds\x1ebase16/dracula
SETUVAR HLSTYLE:base16/dracula
SETUVAR --export HOMEBREW_NO_AUTO_UPDATE:1
SETUVAR --export LC_ALL:en_US\x2eUTF\x2d8
SETUVAR --export LC_CTYPE:en_US\x2eUTF\x2d8
SETUVAR --export LDFLAGS:\x2dL/usr/local/opt/gettext/lib
SETUVAR --export LESS:\x2d\x2dIGNORE\x2dCASE\x20\x2d\x2dRAW\x2dCONTROL\x2dCHARS
SETUVAR --export LESSTERM:xterm\x2d256color
SETUVAR --export LESS_TERMCAP_zz:\x1b\x5b0m
SETUVAR --export LV:\x2dc
SETUVAR MICRO_TRUECOLOR:1
SETUVAR --export NQDIR:{{ .chezmoi.homedir }}/\x2enq/
SETUVAR --export PAGER:less
SETUVAR --export PASSWORD_STORE_ENABLE_EXTENSIONS:true
SETUVAR --export PISTOL_CHROMA_FORMATTER:terminal16m
SETUVAR --export PISTOL_CHROMA_STYLE:native
SETUVAR SKIM_DEFAULT_COMMAND:fd\x20\x2d\x2dtype\x20f\x20\x7c\x7c\x20git\x20ls\x2dtree\x20\x2dr\x20\x2d\x2dname\x2donly\x20HEAD\x20\x7c\x7c\x20rg\x20\x2d\x2dfiles\x20\x7c\x7c\x20find\x20\x2e
SETUVAR --export SKIM_DEFAULT_OPTIONS:\x2d\x2dansi\x20\x2d\x2dtabstop\x3d2
SETUVAR --export SSH_KEY:ssh\x2drsa\x20AAAAB3NzaC1yc2EAAAADAQABAAABAQCrMY2PNF3DZH62qTn8WrSsnG5L/N9fq81aGCYlOKOAGaemHLtAQbktYDKi7PGoGR4iatnoKjD43ob\x2bwnNqoJcPCkb7eO7uIMmrKPvXQXhWUrKObkAmiwZfTtiHKYppmwaUhztVT40gJJHTWGav5o45rmXcWlhcHS8Dt20qUHJ1zqgcLxdZQ0I/lv9G2OIwBOaP\x2bKBv0HqwYz61fsFa0fb7LefuWv4XFZKvrOSKkWFnO//B5EpCL4Uj7h9rS62q20NauuQ\x2b7xfQIAJN\x2bAUGXf04Jb0zG/hW9neuIq9xLtNjCHnqoL\x2bFHS6Pw0GKqxFsJhDzOceB5CELQfL\x2bpd15qQG5\x20d\x40moonshine
SETUVAR --export TERM:xterm\x2d256color
SETUVAR --export --path TODO_DB_PATH:{{ .chezmoi.homedir }}/Dropbox/todo\x2ejson
SETUVAR --export VISUAL:micro
SETUVAR --export VIVID_DATABASE:{{ .chezmoi.homedir }}/\x2econfig/vivid/filetypes\x2eyml
SETUVAR --export XDG_CONFIG_HOME:{{ .chezmoi.homedir }}/\x2econfig
SETUVAR __brew_prefix:/usr/local
SETUVAR __done_min_cmd_duration:10000
SETUVAR __fish_init_2_39_8:\x1d
SETUVAR __fish_init_2_3_0:\x1d
SETUVAR __fish_init_3_x:\x1d
SETUVAR __fzf_cd_command:fd
SETUVAR __fzf_cd_with_hidden_command:fd
SETUVAR __fzf_find_file_command:rg
SETUVAR __kube_ps_enabled:1
SETUVAR _fish_abbr__2E_mp:env\x20MINIMAL_PROMPT\x3d1\x20fish
SETUVAR _fish_abbr__2E_nomp:set\x20\x2dgx\x20MINIMAL_PROMPT
SETUVAR _fish_abbr_aa:\x2d\x2dall\x2dnamespaces
SETUVAR _fish_abbr_bc:brew\x20cask
SETUVAR _fish_abbr_bci:brew\x20cask\x20install
SETUVAR _fish_abbr_bih:brew\x20install\x20\x2d\x2dHEAD
SETUVAR _fish_abbr_bii:brew\x20install
SETUVAR _fish_abbr_bi:brew\x20info
SETUVAR _fish_abbr_bsr:brew\x20search\x20\x2d\x2ddesc
SETUVAR _fish_abbr_bu:brew\x20update
SETUVAR _fish_abbr_c:cht\x2esh
SETUVAR _fish_abbr_ca:chezmoi\x20apply
SETUVAR _fish_abbr_ce:chezmoi\x20edit
SETUVAR _fish_abbr_dr:docker\x20run\x20\x2dit\x20\x2d\x2drm
SETUVAR _fish_abbr_ds:docker\x20search\x20\x2d\x2dno\x2dtrunc\x20\x2d\x2dlimit\x20100
SETUVAR _fish_abbr_fs:functions
SETUVAR _fish_abbr_g:git
SETUVAR _fish_abbr_ga:git\x20add
SETUVAR _fish_abbr_gaa:git\x20add\x20\x2d\x2dall
SETUVAR _fish_abbr_gapa:git\x20add\x20\x2d\x2dpatch
SETUVAR _fish_abbr_gb:git\x20branch\x20\x2dvv
SETUVAR _fish_abbr_gba:git\x20branch\x20\x2da\x20\x2dv
SETUVAR _fish_abbr_gbs:git\x20bisect
SETUVAR _fish_abbr_gbsb:git\x20bisect\x20bad
SETUVAR _fish_abbr_gbsg:git\x20bisect\x20good
SETUVAR _fish_abbr_gbsr:git\x20bisect\x20reset
SETUVAR _fish_abbr_gbss:git\x20bisect\x20start
SETUVAR _fish_abbr_gc:git\x20commit\x20\x2dv
SETUVAR _fish_abbr_gc_21_:git\x20commit\x20\x2dv\x20\x2d\x2damend
SETUVAR _fish_abbr_gca:git\x20commit\x20\x2dv\x20\x2da
SETUVAR _fish_abbr_gca_21_:git\x20commit\x20\x2dv\x20\x2da\x20\x2d\x2damend
SETUVAR _fish_abbr_gcam:git\x20commit\x20\x2da\x20\x2dm
SETUVAR _fish_abbr_gcan_21_:git\x20commit\x20\x2dv\x20\x2da\x20\x2d\x2dno\x2dedit\x20\x2d\x2damend
SETUVAR _fish_abbr_gcb:git\x20checkout\x20\x2db
SETUVAR _fish_abbr_gcl:git\x20clone
SETUVAR _fish_abbr_gcm:git\x20commit\x20\x2dm
SETUVAR _fish_abbr_gcn_21_:git\x20commit\x20\x2dv\x20\x2d\x2dno\x2dedit\x20\x2d\x2damend
SETUVAR _fish_abbr_gco:git\x20checkout
SETUVAR _fish_abbr_gcod:git\x20checkout\x20develop
SETUVAR _fish_abbr_gcom:git\x20checkout\x20master
SETUVAR _fish_abbr_gcount:git\x20shortlog\x20\x2dsn
SETUVAR _fish_abbr_gcp:git\x20cherry\x2dpick
SETUVAR _fish_abbr_gd:git\x20diff
SETUVAR _fish_abbr_gdca:git\x20diff\x20\x2d\x2dcached
SETUVAR _fish_abbr_gf:git\x20fetch
SETUVAR _fish_abbr_gfa:git\x20fetch\x20\x2d\x2dall\x20\x2d\x2dprune
SETUVAR _fish_abbr_gfb:git\x20flow\x20bugfix
SETUVAR _fish_abbr_gfbs:git\x20flow\x20bugfix\x20start
SETUVAR _fish_abbr_gfbt:git\x20flow\x20bugfix\x20track
SETUVAR _fish_abbr_gff:git\x20flow\x20feature
SETUVAR _fish_abbr_gffs:git\x20flow\x20feature\x20start
SETUVAR _fish_abbr_gfft:git\x20flow\x20feature\x20track
SETUVAR _fish_abbr_gfh:git\x20flow\x20hotfix
SETUVAR _fish_abbr_gfhs:git\x20flow\x20hotfix\x20start
SETUVAR _fish_abbr_gfht:git\x20flow\x20hotfix\x20track
SETUVAR _fish_abbr_gfm:git\x20fetch\x20origin\x20master\x20\x2d\x2dprune\x3b\x20and\x20git\x20merge\x20FETCH_HEAD
SETUVAR _fish_abbr_gfo:git\x20fetch\x20origin
SETUVAR _fish_abbr_gfp:git\x20flow\x20publish
SETUVAR _fish_abbr_gfr:git\x20flow\x20release
SETUVAR _fish_abbr_gfrs:git\x20flow\x20release\x20start
SETUVAR _fish_abbr_gfrt:git\x20flow\x20release\x20track
SETUVAR _fish_abbr_gfs:git\x20flow\x20support
SETUVAR _fish_abbr_gfss:git\x20flow\x20support\x20start
SETUVAR _fish_abbr_gfst:git\x20flow\x20support\x20track
SETUVAR _fish_abbr_gignore:git\x20update\x2dindex\x20\x2d\x2dassume\x2dunchanged
SETUVAR _fish_abbr_gl:git\x20pull
SETUVAR _fish_abbr_glg:git\x20log\x20\x2d\x2dstat\x20\x2d\x2dmax\x2dcount\x3d10
SETUVAR _fish_abbr_glgg:git\x20log\x20\x2d\x2dgraph\x20\x2d\x2dmax\x2dcount\x3d10
SETUVAR _fish_abbr_glgga:git\x20log\x20\x2d\x2dgraph\x20\x2d\x2ddecorate\x20\x2d\x2dall
SETUVAR _fish_abbr_glo:git\x20log\x20\x2d\x2doneline\x20\x2d\x2ddecorate\x20\x2d\x2dcolor
SETUVAR _fish_abbr_glog:git\x20log\x20\x2d\x2doneline\x20\x2d\x2ddecorate\x20\x2d\x2dcolor\x20\x2d\x2dgraph
SETUVAR _fish_abbr_gloo:git\x20log\x20\x2d\x2dpretty\x3dformat\x3a\x27\x25C\x28yellow\x29\x25h\x20\x25Cred\x25ad\x20\x25Cblue\x25an\x25Cgreen\x25d\x20\x25Creset\x25s\x27\x20\x2d\x2ddate\x3dshort
SETUVAR _fish_abbr_gm:git\x20merge
SETUVAR _fish_abbr_gmt:git\x20mergetool\x20\x2d\x2dno\x2dprompt
SETUVAR _fish_abbr_gp:git\x20push
SETUVAR _fish_abbr_gp_21_:git\x20push\x20\x2d\x2dforce\x2dwith\x2dlease
SETUVAR _fish_abbr_gpv:git\x20push\x20\x2d\x2dno\x2dverify
SETUVAR _fish_abbr_gpv_21_:git\x20push\x20\x2d\x2dno\x2dverify\x20\x2d\x2dforce\x2dwith\x2dlease
SETUVAR _fish_abbr_gr:git\x20remote\x20\x2dvv
SETUVAR _fish_abbr_grb:git\x20rebase
SETUVAR _fish_abbr_grba:git\x20rebase\x20\x2d\x2dabort
SETUVAR _fish_abbr_grbc:git\x20rebase\x20\x2d\x2dcontinue
SETUVAR _fish_abbr_grbi:git\x20rebase\x20\x2d\x2dinteractive
SETUVAR _fish_abbr_grbm:git\x20rebase\x20master
SETUVAR _fish_abbr_grbs:git\x20rebase\x20\x2d\x2dskip
SETUVAR _fish_abbr_grh:git\x20reset\x20HEAD
SETUVAR _fish_abbr_grhh:git\x20reset\x20HEAD\x20\x2d\x2dhard
SETUVAR _fish_abbr_grmv:git\x20remote\x20rename
SETUVAR _fish_abbr_grrm:git\x20remote\x20remove
SETUVAR _fish_abbr_grset:git\x20remote\x20set\x2durl
SETUVAR _fish_abbr_grup:git\x20remote\x20update
SETUVAR _fish_abbr_grv:git\x20remote\x20\x2dv
SETUVAR _fish_abbr_gscam:git\x20commit\x20\x2dS\x20\x2da\x20\x2dm
SETUVAR _fish_abbr_gsd:git\x20svn\x20dcommit
SETUVAR _fish_abbr_gsh:git\x20show
SETUVAR _fish_abbr_gsr:git\x20svn\x20rebase
SETUVAR _fish_abbr_gss:git\x20status\x20\x2ds
SETUVAR _fish_abbr_gst:git\x20status
SETUVAR _fish_abbr_gsta:git\x20stash
SETUVAR _fish_abbr_gstd:git\x20stash\x20drop
SETUVAR _fish_abbr_gstp:git\x20stash\x20pop
SETUVAR _fish_abbr_gsts:git\x20stash\x20show\x20\x2d\x2dtext
SETUVAR _fish_abbr_gunignore:git\x20update\x2dindex\x20\x2d\x2dno\x2dassume\x2dunchanged
SETUVAR _fish_abbr_gup:git\x20pull\x20\x2d\x2drebase
SETUVAR _fish_abbr_gwch:git\x20whatchanged\x20\x2dp\x20\x2d\x2dabbrev\x2dcommit\x20\x2d\x2dpretty\x3dmedium
SETUVAR _fish_abbr_ta:type\x20\x2da
SETUVAR _fish_abbr_wa:which\x20\x2da
SETUVAR chain_links:chain\x2elinks\x2eroot\x1echain\x2elinks\x2ejobs\x1echain\x2elinks\x2epwd\x1echain\x2elinks\x2evcs_branch\x1echain\x2elinks\x2evcs_dirty\x1echain\x2elinks\x2evcs_stashed
SETUVAR fish_color_autosuggestion:BD93F9
SETUVAR fish_color_cancel:\x2dr
SETUVAR fish_color_command:F8F8F2
SETUVAR fish_color_comment:6272A4
SETUVAR fish_color_cwd:green
SETUVAR fish_color_cwd_root:red
SETUVAR fish_color_end:50FA7B
SETUVAR fish_color_error:FFB86C
SETUVAR fish_color_escape:00a6b2
SETUVAR fish_color_history_current:\x2d\x2dbold
SETUVAR fish_color_host:normal
SETUVAR fish_color_match:\x2d\x2dbackground\x3dbrblue
SETUVAR fish_color_normal:normal
SETUVAR fish_color_operator:00a6b2
SETUVAR fish_color_param:FF79C6
SETUVAR fish_color_quote:F1FA8C
SETUVAR fish_color_redirection:8BE9FD
SETUVAR fish_color_search_match:bryellow\x1e\x2d\x2dbackground\x3dbrblack
SETUVAR fish_color_selection:white\x1e\x2d\x2dbold\x1e\x2d\x2dbackground\x3dbrblack
SETUVAR fish_color_status:red
SETUVAR fish_color_user:brgreen
SETUVAR fish_color_valid_path:\x2d\x2dunderline
SETUVAR fish_greeting:\x1d
SETUVAR fish_key_bindings:fish_default_key_bindings
SETUVAR fish_pager_color_completion:normal
SETUVAR fish_pager_color_description:B3A06D\x1eyellow
SETUVAR fish_pager_color_prefix:white\x1e\x2d\x2dbold\x1e\x2d\x2dunderline
SETUVAR fish_pager_color_progress:brwhite\x1e\x2d\x2dbackground\x3dcyan
SETUVAR fish_prompt_pwd_dir_length:6
SETUVAR fisher_active_prompt:fish
SETUVAR fisher_dependency_count:spin\x1ehumanize\x2dduration\x1epyenv\x1ez\x1egitignore\x1edone\x1efzf\x1egetopts\x1efish
SETUVAR grc_plugin_execs:cat\x1ecvs\x1edf\x1ediff\x1edig\x1egcc\x1eg\x2b\x2b\x1eifconfig\x1emake\x1emount\x1emtr\x1enetstat\x1eping\x1eps\x1etail\x1etraceroute\x1ewdiff\x1eblkid\x1edu\x1ednf\x1edocker\x1edocker\x2dmachine\x1eid\x1eip\x1eiostat\x1elast\x1elsattr\x1elsblk\x1elspci\x1elsmod\x1elsof\x1egetfacl\x1egetsebool\x1eulimit\x1euptime\x1enmap\x1efdisk\x1efindmnt\x1efree\x1esemanage\x1esar\x1ess\x1esysctl\x1esystemctl\x1estat\x1eshowmount\x1etcpdump\x1etune2fs\x1evmstat\x1ew\x1ewho\x1edf
